body{
    background: linear-gradient(135deg, #1B8AF1, #B58DED);
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.success{
    color : green ;
    margin-top: 10;
}

h4{
    font-family: 'Segoe UI', bold;
    font-size: 35px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #000000;
}

form{
    display: inline-block;
    align-items: center;
    height: 270px;
    width: 350px;
    margin-bottom: 170px;
}
.text_area{
    align-content: center;
    border-radius: 22px;
    margin-bottom: 35px;
    width: 100%;
    height: 64px;
    box-shadow: 0 0 8px 0 rgba(102, 99, 99, 0.2), 0 0 20px 0 rgba(230, 227, 227, 0.19);
}

.text_input{
    margin-top: 1.2rem;
    font-family: 'times new roman';
    font-size: 20px;
    border: none;
    width: 80%;
}

/* .btn{
    margin-top: 28px;
    width: 165px;
    height: 60px;
    border-radius: 30px;
    background: #0306eb;
    border: none;   
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(6, 3, 10, 0.9);
    cursor: pointer;
} */

.btn {
    color: rgb(0, 0, 0); 
    font-size: 16px; 
    line-height: 16px;
    padding: 15px; 
    margin: 10px;
    border-radius: 17px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; font-variant: normal; 
    text-transform: none;
    background-image: linear-gradient(to right, rgb(60, 70, 77) 0%, rgb(17, 42, 58) 50%, rgb(5, 37, 58) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(5, 37, 58); 
    display: inline-block;
}

.btn:hover {
    background: rgb(5, 37, 58); }

.btn:active {
    background: rgb(5, 37, 58); }

.login{
    display: inline-block;
    background: #FFFFFF;
    width: 434px;
    height: 700px;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
    color: #0E4579;
    font-family: 'Montserrat light';
    font-size: 18px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}